.modal-container {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 100%;
  transition: bottom 1.5s;
}

.modal {
  background-color: lavenderblush;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 50%;
  box-shadow: 4px 10px 20px 13px #ccc;
}

.show {
  bottom: 0;
  transition: bottom 1.5s;
}
